@model BudgetApplication.ViewModels.TransactionDashboardViewModel

@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transactions</h2>

<div class="container">
    @Html.LabelFor(m => m.SelectedAccount)
    @Html.DropDownListFor(
        m => m.SelectedAccount,
        new SelectList(Model.Accounts,
        "AccountId", "AccountName"),
        "Select Account",
        new { @class = "form-control", @id = "selectAccountDropdown" })
</div>

<br />

<div class="container">
    @foreach (var account in Model.Accounts)
    {
        if (Model.AccountIdTransactionDict.ContainsKey(account.AccountId))
        {
            var list = Model.AccountIdTransactionDict[account.AccountId];
            string color =
                     account.AccountTypeId != BudgetApplication.Models.AccountType.CreditCard
                     ? "positive-account-table"
                     : "negative-account-table";
            <table id="@account.AccountId" class="hidden table table-hover">
                <thead class=@color>
                    <tr>
                        <th>Type</th>
                        <th>Ammount</th>
                        <th>Date</th>
                        <th>Comments</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var transaction in list)
                    {
                        <tr>
                            <td>@transaction.TransactionType.TransactionTypeName</td>
                            <td>$ @transaction.Amount.ToString("0.00")</td>
                            <td>@transaction.DateOfTransaction.ToString("MM/dd/yyyy")</td>
                            <td>@transaction.Comments</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-sm shadow-none">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn-sm shadow-none">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        } else
        {
            <table id="@account.AccountId" class="hidden table table-hover">
                <thead>
                    <tr>
                        <th>No transactions found</th>
                    </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
        }
    }
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Transactions/FilterAccountTransactions.js")"></script>
}

@section AddIcons{
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
}


