@model BudgetApplication.ViewModels.NewAccountViewModel

<h2>AccountForm</h2>

@using (Html.BeginForm("SaveAccount", "Account", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Account.AccountName)
        @Html.TextBoxFor(m => m.Account.AccountName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Account.AccountTypeId)
        @Html.DropDownListFor(
            m => m.Account.AccountTypeId,
            new SelectList(Model.AccountTypes,
            "AccountTypeId", "AccountTypeName"),
            "Select Account Type",
            new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Account.Balance)
        @Html.TextBoxFor(m => m.Account.Balance, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}

