@model List<BudgetApplication.Models.Account>

@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounts</h2>

<div class="container">
    @Html.ActionLink("Add Account", "AccountForm", "Account", null, new { @class = "btn btn-primary float-right" })
</div>

<br class="clearFloatRight" />
<br />

<div class="container">
    <table id="accountsTable" class="table table-hover">
        <thead class="account-table">
            <tr>
                <th>Account Name</th>
                <th>Account Type</th>
                <th>Balance</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <td class="text-primary">@account.AccountName</td>
                    <td class="text-primary">@account.AccountType.AccountTypeName</td>
                    <td class="text-primary">$ @account.Balance.ToString("0.00")</td>
                    <td>
                        <button data-account-id="@account.AccountId" class="btn btn-sm js-delete">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Accounts/Delete.js")"></script>
}

@section AddIcons{
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
}